.featured-blogs-wrapper {
    position: relative;
    .card-link {
        width: 693px;
        &:last-child {
            margin-left: auto;
        }
    }
    .featured-blog-cards {
        display: flex;
        flex-direction: column;

        .card-wrapper {
            max-width: 693px;
            margin-bottom: 20px;

            .card-header {
                .card-title {
                    font-size: 40px;
                }
            }
            .card-desc {
                font-size: 21px;
            }
        }
    }
    .arrow-deco {
        position: absolute;
        &:first-of-type {
            right: 87px;
            top: 109px;
        }
        &:last-of-type {
            bottom: 83px;
            left: 60px;
        }
    }
}
