.header-wrapper {
    position: relative;
    background-color: $primary;

    .header {
        height: 86px;
        display: flex;
        align-items: center;
        &-right-items {
            margin-left: auto;
            .nav-item {
                margin-left: 82px;
            }
            .cta-wrapper {
                margin-left: 103px;
            }
        }
    }
}
.nav-item {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: $text;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
        color: $accent1;
    }
}
.cta-wrapper {
    display: inline-block;
    .cta {
        font-size: 19px;
        color: $accent1;
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
    }
    .cta-link {
        font-weight: 500;
        font-size: 17px;
    }
    .arrow {
        margin-left: 4px;
        transition: 0.3s;
    }
    &:hover {
        cursor: pointer;
        .arrow {
            transform: translateX(10px);
        }
    }
}

.logo {
    color: $title;
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 7;
    text-decoration: none;
}
