.ReactModal__Content {
    position: relative;
    .caska {
        position: absolute;
        right: 80px;
        top: 0;
    }

    .loginTitle {
        position: absolute;
        top: 120px;
        margin: 0 auto;
        font-weight: normal;
        font-size: 35px;
        line-height: 35px;
    }

    .book-moliv {
        position: absolute;
        right: -15px;
        top: 120px;
        transform: scale(0.9);
    }

    .man-pc {
        position: absolute;
        left: -15px;
        bottom: 0;
        transform: scale(0.9);
    }

    .dashes-left {
        position: absolute;
        right: 90px;
        bottom: 105px;
    }

    form {
        transform: scale(0.76);
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .loading-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        z-index: 2;
        transition: 0.3s;

        &::after {
            transition: 0.3s;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.576);

            z-index: -1;
        }
    }
}
