.navbar-wrapper {
    background-color: #eee4d3;
    display: flex;
    justify-content: center;
    height: 134px;
    align-items: center;
    gap: 33px;
    .deco {
        width: 20px;
        &:last-of-type {
            transform: rotate(-180deg);
        }
    }
}
.link-wrapper {
    position: relative;
    .activeStroke {
        &:last-of-type {
            position: absolute;
            top: -3px;
            right: -10px;
        }
        &:first-of-type {
            position: absolute;
            bottom: -3px;
            left: -10px;
        }
    }
}
.active {
    font-weight: bold;
    &:hover {
        color: $title;
    }
}
