@import "colors";
@import "fonts";
@import "header";
@import "navbar";
@import "blogsPage";
@import "home";
@import "blogsFromCategory";
@import "blogCard";
@import "becomeMember";
@import "footer";
@import "featuredBlogs";
@import "notfound";
@import "singleBlog";
@import "about";
@import "savedBlogs";
@import "profile";

.container {
    margin: 0 auto;
    max-width: 1200px;
}
body,
html {
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
}
