@import "colors";
@import "fonts";
@import "header";
@import "navbar";
@import "blogsPage";
@import "home";
@import "blogsFromCategory";
@import "blogCard";
@import "becomeMember";

.container {
    margin: 0 auto;
    max-width: 1200px;
}
body,
html {
    margin: 0;
    box-sizing: border-box;
}
